{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> Neighbourhood {{title}}</title>
    {% else %}
    <title>Neighbourhood</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Great+Vibes&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<style>
body{
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
}
</style>
<body>
    {% include "navbar.html" %}
    <p style="padding-top:0px;padding-bottom: 30px;"></p>

    {% block content %}

    {% endblock %}

    {% block scripts %}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>